.navbar-brand{
    margin-left: 1%;
}
body {
    background-color: #EDEDED;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: #212121;
    color: white;
  }
  img{
    width:5%;
    height:5%;
    display: flex;
    background-color: #FF7F57;
  }
.anecdotes{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.races{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.pelage{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.étiquettes{
    display:flex;
    justify-content: center;
    gap:10%;
}
.facts{
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background-color: #343434;
  color: white;
  margin-top:2%;
  margin-left:25%;
  padding-bottom: 2%;
}
#catfact{
  text-align: center;
  margin-top:5%;
}
.displayFactor{
  background-color: #FF7F57;
  border:none;
  border-radius:5px;
  color:white;
}
.divFacts{
  text-align: center;
  margin-top: 5%;
}
@media only screen and (max-width: 768px) {
  .displayFactor {
    width: 50%;
    height:50%;
  }
}
@media only screen and (max-width: 768px) {
  .facts {
    width: 50%;
    height:50%;
    margin-top:10%;
    padding:2%;
  }
}
#menu {
  display: none;
}

@media screen and (max-width: 600px){
  #menu {
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-y: auto;
      text-align: center;
  
  }
  #menu.show {
      display: block;
  }
  #menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  #menu ul li {
      display: block;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #ccc;
  }
}

#menu-button {
  display: none;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 600px){
  #menu-button {
      display: block;
  }
}
.anec{
  text-decoration: none;
  color:#FF7F57;
}
.race{
  text-decoration: none;
  color:#FF7F57;
}
.pelagepays{
  float:left;
  width: 30%;
  height:100%;
  background-color: #343434;
  color: white;
  /* margin-left:3%; */
  margin-top: 2%;
  padding:2%;
  border-radius: 10px;
  gap:2%;
}
.title{
  color:#FF7F57;
  font-weight: 700;
  font-size:18px;
}
.explanations{
  float:right;
  border-radius: 10px;
  background-color: #343434;
  color:white;
  width: 45%;
  height:50%;
  margin-top: 2%;
  padding:2%;
}