.navbar-brand{
    margin-left: 1%;
}
body {
    background-color: #EDEDED;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: #212121;
    color: white;
  }
  img{
    width:5%;
    height:5%;
    display: flex;
    background-color: #FF7F57;
  }
.anecdotes{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.races{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.pelage{
    width:344px;
    height:177px;
    margin-top:131px;
    border-radius: 10px;
    background-color: #343434;
    color:#FF7F57;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top:1%;
}
.étiquettes{
    display:flex;
    justify-content: center;
    gap:10%;
}